{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "space-in-parens": ["error", "never"],
    "template-curly-spacing": ["error", "never"],
    "array-bracket-spacing": ["always", {
      "singleValue": false
    }],
    "object-curly-spacing": ["always", {
      "objectsInObjects": false
    }],
    "computed-property-spacing": ["error", "always"],
    "no-multiple-empty-lines": [{
      "max": 2
    }],
    "quotes": ["single", {
      "avoidEscape": true
    }],
    "no-use-before-define": ["error", {
      "functions": true,
      "classes": true
    }],
    "prefer-const": "error",
    "react/prefer-es6-class": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-curly-spacing": [2, "always"],
    "react/jsx-indent": [2, 4],
    "react/prop-types": [1],
    "react/no-array-index-key": [1]
  }
}