/* Navigation Styling */

nav {
	margin-top: 25px;
	color: #003893;
	margin: 25px 10px 12px 10px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
}

nav a {
	margin: 0 10px;
	text-decoration: none;
}

.top-bar {
	color: #003893;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
}

.default-menu {
	color: #003893;
	margin: 0 10px;
	text-decoration: none;
	display: flex;
}

.user-menu {
	margin: 0 10px;
	text-decoration: none;
	display: none;
}

.nav-logo {
	background: #941511;
	border: 1px solid black;
	border-radius: 0 35px 25px 0;
	color: #ffffff;
	text-shadow: 1px 1px 4px #000000;
	width: 30%;
	display: flex;
	justify-content: center;
	align-self: center;
}
/* Sign Up Styling */

form {
	padding: 25px;
}

.log-in-button {
	background: #ffc400;
	border: 1px solid black;
	color: #000000;
	margin: 0 10px;
	padding: 5px 20px;
}
.log-in-button:hover {
}

.sign-up-button {
	background: #941511;
	border: 1px solid black;
	color: white;
	margin: 0 10px;
	padding: 5px 20px;
}
.sign-up-button:hover {
}

.sign-up-form {
	display: flex;
	flex-direction: column;
	text-align: start;
}

.sign-up-input {
	border-radius: 5px;
	padding: 5px;
	margin: 10px 0;
	background-color: beige;
}

.form-button {
	background: #ffc400;
	border: 1px solid #000000;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #000000;
	color: #000000;
	cursor: pointer;
	margin: 25px auto;
	padding: 10px 30px;
	display: flex;
}
.form-button:hover {
	background: #941511;
	color: #ffffff;
}

span {
	color: #941511;
}

.modal-header * {
	display: flex;
	justify-content: center;
	align-self: center;
	flex-wrap: wrap;
}

.modal-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.modal-footer {
	background: #941511;
	box-shadow: 1px 1px 1px #000000;
}
