/* Navigation Styling */
nav {
	margin: 25px 10px 12px 10px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
}

nav a {
	margin: 0 10px;
	text-decoration: none;
}

.default-menu {
	margin: 0 10px;
	text-decoration: none;
	display: flex;
}

.user-menu {
	margin: 0 10px;
	text-decoration: none;
	/* display: none; */
}

/* Form Styling */

span {
	color: #941511;
}

/* Modal Styling */

.modal-header * {
	display: flex;
	justify-content: center;
	align-self: center;
	flex-wrap: wrap;
}

.modal-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.modal-footer {
	background: #941511;
	box-shadow: 1px 1px 1px #000000;
}

.ivPWSL * {
	margin-top: 0;
}
.sc-dnqmqq * {
	margin-top: 0;
}

.my-links {
	margin: 30% 0;
}
