.modal-wrapper {
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  transition: all .8s;
  max-width: 380px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  overflow-y: auto;
}

.modal-header {
  background: #263238;
  height: 80px;
  line-height: 40px;
  padding: 5px 20px;
  text-align: center;
}

.modal-header h3 {
  color: white;
  float: left;
  margin: 0;
  padding: 0;
}

.modal-body {
  padding: 10px 15px;
  text-align: center;
}

.modal-footer {
  background: #263238;
  height: 35px;
  padding: 15px;
}

.close-modal-btn {
  color: white;
  cursor: pointer;
  float: right;
  font-size: 30px;
  top: 0;
  margin: 0;
}

.close-modal-btn:hover {
  color: black;
}

.btn-cancel {
  border: none;
  outline: none;
  background-color: red;
  float: left;
  font-size: 0.8rem;
  font-family: 'Open Sans';
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  width: 90px;
  float: left;
  cursor: pointer;
}

.btn-continue {
  background-color: #1b5e20;
  float: right;
}