.BNlHk {
	width: 580px;
}

.app-wrapper {
	padding: 0;
	border-radius: 25px;
}

.login-sign-up {
	background: #ffffff;
	border: 2px solid #000000;
	box-shadow: 1px 1px 1px #ffc400;
	border-radius: 15px;
	color: #000000;
	margin: 5px auto;
	padding: 5px;
	width: 40%;
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
