@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Saira');

body {
  font-family: 'Open Sans';
}


.logo {
  font-family: 'Saira', cursive;
  color: blue;
}

.box-container {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.box {
  text-align: center;
  padding: 25px;
  width: 360px;
  background-color: white;
  color: gray;
  box-shadow: 5px 5px 10px;
  margin: 20px 0;
}

.box b {
  text-decoration: underline;
  color: blue;
}

.input-section {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-content: flex-end;
  align-items: flex-end;
  margin: 7% 0% 2% 0%;
}

.input {
  font-size: 1.2rem;
  border: none;
  border-bottom: solid 2px blue;
  background-color: white;
  width: 100%;
  height: 35px;
  margin-left: 2%;
}

.person-flex {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 7.5px;
}

.person-flex span {
  display: flex;
  text-align: center;
  padding: 10% 20% 0% 0%;
  font-size: 1.2rem;
}

.person-flex b {
  margin-right: 5px;
}

.button {
  font-size: 1.8rem;
  font-family: 'Open Sans';
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  background-color: blue;
  width: 120px;
}

.top-text {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.top-text-left {
  display: flex;
  border: 2px solid red;
  margin: 0;
  padding: 0;
}

.top-text-left p {
  margin: 0;
  padding: 0;
}

.top-text-left b {
  margin: 0;
  padding: 0;
}

.submit-button {
  font-size: 1.2rem;
  font-family: 'Open Sans';
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  background-color: blue;
  width: 100%;
  margin-top: 10%;
}

.text-under-input {
  display: flex;
  justify-content: space-between;
}

.hint-button {
  padding: 1% 1.5%;
  background-color: blue;
  border-radius: 5px;
  color: white;
}

/* Verb streak styles */

.verb-streak {
  display: flex;
  justify-content: center;
}

.current-best-streak {
  background-color: white; 
  padding: 5px 10px; 
  border-radius: 10px; 
  margin: 10px; 
  width: 90px;
}

.streak {
  font-size: 12px;
}

.streak-count {
  font-size: 24px;
  font-weight: 800;
}

/* Font styles */

.twelve {
  font-size: 12px;
}

.twenty-four {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

/* Verb info styles */

.verb-info {
  background-color: white; 
  padding: 15px 20px; 
  border-radius: 20px;
}

/* Settings styles */

.settings {
  margin: 2% 0%;
  height: 60px;
}

.settings-buttons-display {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.settings-buttons-hide {
  display: none;
}

.button-options {
  font-size: 0.8rem;
  font-family: 'Open Sans';
  border-radius: 5px;
  margin-top: 6%;
  margin-right: 6%;
  padding: 5px 10px;
  color: white;
  background-color: blue;
  width: 90px;
  float: left;
}