@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Saira');

/* Global styles */

body {
  font-family: 'Open Sans';
  background-color: #f6f9fc;
  outline: none;
}

/* Desktop styles */

@media only screen and (min-width: 630px) {
  .app {
    width: 580px;
    margin: 0 auto;
  }
}

/* Mobile styles */

@media only screen and (max-width: 630px) {
  body {
    width: 95vw;
  }
}

@media only screen and (max-width: 630px) {
  .app {
    width: 380px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 450px) {
  .app {
    width: 95vw;
  }
}

/* Text styles */

.bold-text {
  font-weight: 700;
}

.extra-bold-text {
  font-weight: 800;
}

.twelve {
  font-size: 12px;
}

.twenty-four {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.twenty-four span {
  font-weight: 400;
  text-transform: none;
}

/* Flex styles */

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

/* Button styles */

.text-button {
  cursor: pointer;
}

.text-button:hover {
  text-decoration: underline;
}

.submit-button {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 15%;
}

.accent-buttons button {
  background-image: linear-gradient(blue, #003893);
  color: white;
  border-radius: 4px;
  margin: 0 2px 6px 2px;
  font-size: 16px;
}

/* Nav styles */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: white;
  padding: 5px 10%;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

@media only screen and (max-width: 630px) {
  .nav {
    justify-content: flex-start;
  }
}

.active-link {
  color: darkblue;
}

.nav a {
  margin: 0 5px;
  color: blue;
  text-decoration: none;
}

@media only screen and (max-width: 390px) {
  .header {
    height: 130px;
  }
}

.nav h2 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 400;
}

.nav div {
  font-size: 16px;
}

.logo {
  font-family: 'Saira';
  color: #003893;
  font-weight: 900;
}

@media only screen and (max-width: 630px) {
  .logo {
    display: none;
  }
}

/* Header styles */

.header {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Verb streak styles */

.verb-streak {
  display: flex;
  justify-content: center;
}

.current-best-streak {
  padding: 5px 0;
  margin: 5px 10px;
  width: 85px;
  text-align: center;
}

.streak {
  font-size: 12px;
}

.streak-count {
  font-size: 24px;
  font-weight: 800;
}

/* Verb info styles */

.verb-info {
  background-color: white;
  padding: 15px 20px;
  border-radius: 20px;
}

/* Verb input Styles */

.verb-input {
  padding-left: 10px;
  font-size: 1.2rem;
  border: none;
  border-bottom: solid 2px #003893;
  background-color: white;
  width: 100%;
  margin-left: 10px;
}

.input-section {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-content: flex-end;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.input-section input {
  height: 35px;
  padding-left: 10px;
}

/* Helper text styles */

.helper-text {
  height: 85px;
  position: relative;
  padding-top: 10px;
  text-align: center;
}

/* Settings styles */

.settings {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
}

.two-dropdowns {
  display: flex;
}

.settings-text {
  font-size: 0.8rem;
  font-weight: bold;
}

.settings-dropdown {
  margin: 10px;
}

.settings-buttons-hide {
  display: none;
}

.button-options {
  font-size: 0.8rem;
  font-family: 'Open Sans';
  border-radius: 5px;
  font-weight: 700;
  height: 30px;
  margin: 10px;
  background-color: lightgray;
  width: 110px;
  float: left;
  text-align: center;
  z-index: 1000;
}

/* Modal styles */

.back-drop {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1.8s;
  width: 100vw;
  z-index: 1;
}
